USE [exodbc]
GO
/****** Object:  Table [exodbc].[integertypes]    Script Date: 04.04.2015 17:12:41 ******/
DROP TABLE [exodbc].[integertypes]
GO
/****** Object:  Table [exodbc].[integertypes]    Script Date: 04.04.2015 17:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [exodbc].[integertypes](
	[idintegertypes] [int] NOT NULL,
	[tsmallint] [smallint] NULL,
	[tint] [int] NULL,
	[tbigint] [bigint] NULL,
 CONSTRAINT [PK_integertypes] PRIMARY KEY CLUSTERED 
(
	[idintegertypes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [exodbc].[integertypes] ([idintegertypes], [tsmallint], [tint], [tbigint]) VALUES (1, -32768, NULL, NULL)
INSERT [exodbc].[integertypes] ([idintegertypes], [tsmallint], [tint], [tbigint]) VALUES (2, 32767, NULL, NULL)
INSERT [exodbc].[integertypes] ([idintegertypes], [tsmallint], [tint], [tbigint]) VALUES (3, NULL, -2147483648, NULL)
